<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Islam religion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c0a916d27e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Montserrat:wght@100;400;900&family=Sacramento&family=Source+Serif+Pro:ital,wght@0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  nav_size">
      <div class="container-fluid nav_inner_container">
        <a  class="navbar-brand brand_css d-inline-block align-text-top" href="/">
          <i class="fa-solid fa-kaaba "></i>
          Islamy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedhistory_content" aria-controls="navbarSupportedhistory_content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedhistory_content">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link nav_items" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link nav_items" href="/history">Islam religion</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link nav_items" href="/prayer">Prayer</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link nav_items" href="/quran">Quran</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link nav_items" href="/questions">Common questions</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link nav_items" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- header -->
    <h2 class="h2">Islam religion</h2>
    <div >
      <button type="button" class="collapsible  topic_titel left">1 - The beginning</button>
      <div class="history_content topic left">
        <img class="image_Size_islam" src="/images/qorish.jpg" alt="">
        <p class="marg"><strong>To clarify the subject, I will say a few words about the pre-Islamic era, known as the Age of Jahiliyya</strong>  </p>
        <p>Prophet Muhammad appeared at a time when people had lost their knowledge of the true religion and had reverted to worshipping idols of stones,
          earth, bread, and even cheese. As stated in the Qur'an: They were serving, apart from God, what hurts them not, neither profits them, and they
          say: "These are our intercessors with God"</p>

        <p>They were so degraded in thought and morals that, as reported by Abu Dharr al-Ghifari, they would cut their idols into pieces and eat them. The
          only excuse offered was that they were following in the steps of their forefathers: When it is said to them: "Follow what God has sent down" they
          say: "No. We follow that wherein we found our fathers"</p>

        <p>They also buried their daughters alive: When any of them is given the good tidings of a girl, his face is darkened and he chokes inwardly, as he
          hides from the people because of the evil of the good tidings that have been given to him, whether he shall preserve her in humiliation, or trample
          her into the dust</p>

        <p>Women were despised, not only in pre-Islamic Arabia but also in the Roman and Sassanid lands. The Qur'an openly declares that men will be questioned
          concerning this: When the female (infant) buried alive is questioned—for what crime was she killed?</p>


        </div>
    </div>


    <div class=" right_div">
      <button type="button" class="collapsible right_topic_titel ">2 - Mohamed The Last Prophet</button>
      <div class="history_content right_topic ">
        <img class="image_Size_islam" src="/images/mohamed.jpg" alt="">
        <p class="marg">Prophet Muhammad was brought up in God's sight and care. His father 'Abd Allah died before he was born, which meant that he
          had to put all his trust in God and submit completely to Him. He visited his father's tomb in Madina years later, cried his heart out, and
          on his return said: "I wept for my father and entreated God to forgive him."</p>

        <p>With the death of his father, God deprived him of all human support and directed him to the realization that there is no deity but God, Who
          has no partners.His grandfather and uncle protected him to some extent, but he came to perceive that his real guardian was God. Behind every
          phenomenon and every cause and effect, he could discern the hand of the Single Creator of the universe and causes. The Oneness of God would
          be manifested to him in the light of Divine Unity. That is, he would be tested in this world of wisdom, where material causes and means have
          a part in every attainment, and so would have to use necessary material causes and means and take all necessary measures to attain anything.
          He would have to depend wholly on his Lord and ask Him for any help, thereby demonstrating that only God creates the result and gives success.</p>

        <p>As a result of his father's death, he came to be called the "Matchless Orphan Pearl." About this, God addressed him years later: Your Lord shall
          give you, and you shall be satisfied. Did He not find you an orphan and shelter you?... Did He not find you needy and suffice you? As for the orphan
          , do not oppress him, and as for the beggar, scold him not</p>

        <p>The Matchless Orphan Pearl also lost his mother, Amina, at an early age. When she died in Abwa at age 25 or 26 on her way back from visiting her
          husband's tomb in Madina, Muhammad was only 6 years old. Thus, he learned the pain of having no father or mother. Indeed, he would learn and suffer
          everything, for he was sent to teach everything to humanity and to be an example in every respect.</p>

        <p>His grandfather 'Abd al-Muttalib, a respected Makkan elder, undertook his protection. For this reason, God saved 'Abd al-Muttalib from misfortune.
           He embraced his beloved grandson, and always offered him the seat of honor in his house. He felt that Muhammad would grow up to save humanity.
           Muhammad was so noble and well-mannered that his grandfather anticipated his Prophethood. He was not the first of his noble forefathers to do so,
            however; Ka'b ibn Luayy, who some consider a Prophet, predicted that the Last Messenger would be raised from his own progeny. He mentioned him by
           name:</p>
        <p> <strong>Suddenly Prophet Muhammad will appear; <br>He will give tidings, and is truthful in his tidings.</strong> </p>
        <p>'Abd al-Muttalib, whom even the great army of Abraha could not bring to tears, wept bitterly when he took to his deathbed. When his son, Abu Talib,
           asked what was wrong, he replied: "I'm weeping because I'll no longer be able to embrace Muhammad," and then added: "I'm afraid something might happen
           to my Matchless Pearl. I entrust him to you for safekeeping."</p>

        <p>Abu Talib assumed Muhammad's protection and, in return, his son 'Ali would be blessed with being the father of Muhammad's progeny. After Prophethood,
          the Messenger of God said to 'Ali: "Every other Prophet's progeny descended from himself, but my progeny will descend from you." 'Ali would be the father
           and the greatest saint until the Last Day, as the representative of the Prophet's sainthood. This is Abu Talib's reward for helping Muhammad.</p>

        <p>Abu Talib protected Muhammad with great care. Historians and biographers, such as Ibn Ishaq, relate that Abu Talib took his nephew to Syria in a trade
           caravan when he was 10 or 12 years old. They stopped somewhere near Damascus and left him, as he was the youngest, to watch over the caravan. From his
            nearby monastery, the Christian monk Bahira was observing the caravan. This monk was expecting the arrival of the Last Prophet, and so always studied
             people. He noticed that a cloud followed the caravan, stopping and starting when the caravan did so, in order that one of its members would be shaded.
               He thought: "This is a special characteristic of the Prophets. The expected Prophet must be in that caravan."</p>

        <p>When the caravan stopped near his monastery, Bahira invited its members over for a meal. Noticing the cloud still hovering over the caravan, he asked
           Abu Talib if someone had been left behind. Abu Talib answered that they had left a young boy to watch over their things. The monk asked them to fetch
            him. When Muhammad came, Bahira took Abu Talib to one side and asked him about his relationship with the boy. "He is my son," Abu Talib answered, but
             Bahira disputed this, saying: "He can't be your son. According to our books, his father must have died before his birth." Then he added: "Let me give
              you this advice. Take this boy back immediately. The Jews are envious. If they recognize him, they'll harm him." Abu Talib made an excuse to the other
               caravan members and returned to Makka with his nephew</p>

        <p>Prophet Muhammad made a second journey when he was 25 years old, with the trade caravan of Khadija, a respected widow he would later marry. On the journey,
           he encountered Bahira once more. The monk was very pleased with this second meeting, and told him: "You will be a Prophet, the Last Prophet. I wish that
           God would allow me to live to see you raised as a Prophet. I would follow you, carry your shoes and protect you against your enemies!"</p>

        <p class="center"> <a  target="_blank" href="https://fgulen.com/en/fethullah-gulens-works/prophet-muhammad">Read More ... </a> </p>
      </div>
    </div>


    <div >
      <button type="button" class="collapsible  topic_titel left ">3 - Khadija, mother of Muslims</button>
      <div class="history_content topic left ">

        <p class="marg">Khadijah bint Khuwaylid, the first wife of the Prophet Muhammad, was born in Mecca into a merchant family of the Quraysh tribe.
           After the death of her father in battle, she took back the family business and developed it very quickly, to such an extent that
           her caravans became famous. They could be found all over the Arabian Peninsula, from Yemen to northern Syria. Even though she was
           surrounded and advised by her brothers and uncles, it was always her who had the final word and led the family business.</p>

        <img class="image_Size_islam" src="/images/trade.jpg" alt="">
        <p>During the time of the Jahiliyyah (before Islam), Khadijah was already a remarkable woman, who stood out due to her strength of character,
           her power and autonomy. Her decision to choose her husband in an era dominated by men and polygamy, in which women had no rights or social
           status, illustrates this perfectly.</p>

        <p>In this regard, historian Bettany Hughers (who also presented the documentary When the Moors Ruled in Europe) said that “it was her business
          acumen that would set her on a path that would eventually change the history of the world “. Before changing the history of the world, Khadijah
          first began by changing the mindsets of those around her, by gaining the respect of her fellow countrymen and asserting herself as a powerful woman.
          She was such a good businesswoman that it was said that she could trade dust for gold.</p>

        <p>
          <h4>Muhammad’s first wife, the first Muslim woman</h4>
            The caravans needed leaders to guide them, and because she did not like travelling, she hired men for these activities, after careful selection
            processes. These men had to travel around Arabia to sell their products. One of them was Muhammad. At that moment, and without knowing it yet,
            Khadijah was about to change the world.</p>

        <p>Until then, she had refused to marry again and had rejected many suitors, but the young Muhammad caught her attention and admiration for his
          qualities, which made Khadijah change her mind and propose to him, despite his humble condition. The future Prophet accepted in 595, after obtaining
          the agreement of his uncle and protector Abū Ṭālib. It should be remembered that Muhammad was an orphan, having missed both his parents.
          Khadijah, known by her free spirit, married the young Muhammad, when he was barely 25 years old, while she was 40.</p>

        <p>This happened before the revelation. When in 610 Muhammad received the first revelation from the Archangel Gabriel, he returned home confused
          and distressed, and decided to tell Khadijah about it. After listening to him –and, more importantly, believing him–she calm him down and took
          him to consult with her cousin Warqah ibn Nawfal, a hanif, or believer in monotheism and knowledgeable of the Christian tradition. At the time,
          Muhammad feared he was possessed by a jinn. It was Waraka who explained him that the angel in question was not a demon, but Jibril (Gabriel),
          the same archangel who came to speak to Moses. From that moment on, the revelations to the Prophet Muhammad continued. Thus, as told in
          The Chronicles of Tabari, the first person in History to convert to Islam was Khadijah.</p>
      </div>
    </div>


    <div class=" right_div" >
      <button type="button" class="collapsible right_topic_titel">4 - The Revelation</button>
      <div class="history_content  right_topic">
        <img class="image_Size_islam" src="/images/hiraa.jpg" alt="">
        <p class="marg">He would spend time in contemplation first at home and then he began going to a cave in Mount Hira, accompanied by his young cousin Ali
          and his adopted son, Zaid. Tradition states that one day, when he was about forty years old, Muhammad was alone and asleep in the cave on
          Mount Hira’
          <br><br><strong>when he saw before him “like the brightness of the dawn” an angel who commanded that he recite …</strong>
          <br><br><strong>Muhammad said that he could not do so.</strong>   <br><br> <strong>  “Then he took me and squeezed me vehemently and then let me go and repeated the order ‘Recite.’</strong>
          <br><br> <strong>‘I cannot recite’ said I,</strong> <br><br>
          <strong> and once again he squeezed me and let me go till I was exhausted. Then he said,</strong>  <br><br>
          <strong>‘Recite.’ I said, ‘I cannot recite.’ He squeezed me for a third time and then let me go and said:</strong>
          <br><br><strong>‘Recite in the name of your lord who created –
                            From an embryo created the human. <br><br>

                            Recite your lord is all-giving
                            Who taught by the pen
                            Taught the human what he did not know before <br><br>

                            The human being is a tyrant
                            He thinks his possessions make him secure
                            To your lord is the return of everything’”
                  </strong>
        </p>
        <p>Muhammad was terrified and unable to understand what had happened to him. Had he gone mad or become one of the Kahins, the ecstatic
          poets whom he despised? What had happened?  He staggered down the mountain and sought Khadija, crying, “Wrap me up! Wrap me up!” Khadija
          covered him in a cloak and held him and when he was calmer, questioned him. He told her what he had experienced and that he feared he had
          gone mad, but Khadija had no doubt that his revelation was authentic, “This cannot be my dear, God would not treat you thus. You are known
          to be truthful and a bearer of the burdens of others. You give to the poor, you feed guests, you work against injustice,”</p>
      </div>
    </div>

  <div >
    <button type="button" class="collapsible topic_titel left"> 5 - The Miracle of Isra and Miraj</button>
    <div class="history_content topic left">
      <img class="image_Size_islam" src="/images/israa.jpg" alt="">
      <p class="marg">The Isra’ and Mi’raaj is a momentous occasion that occurred at a very crucial stage in the life of the Prophet Muhammad
         (SallAllahu Alayhi Wa Sallam). This uplifting (Mi'raj = ascend) experience took place in the year the Prophet lost two of his valuable
          pillars of support; his uncle Abu Talib (whose political authority and care for the Prophet prevented the Makkans from harming the Prophet)
         and Khadijah (Prophet’s beloved wife, confidante, partner and financier of the nascent Islamic movement). It was after the Mi'raj that the
         Prophet had to leave Makkah, yet that departure marked a turning point for the nascent Muslim community and changed the course of history.</p>

      <p>The Isra’ and Mi’raj occurred at a most tiring time of the Prophet’s challenging life. The people of Makkah; who had called him as-Sadiq /truthful
        and al-Amin/trustworthy, had rejected his message; ostracized his followers, and victimized his family. He and a handful of followers endured three
        years of relentless persecution and boycott from the Makkans and he eventually went to Taif to preach his message. There they mocked him and stoned
        him till bled profusely. He turned to Allah with the words; “Oh, Allah, I appeal to you for the weakness in my strength, the limitation of my power,
        and the treatment of disrespect and humiliation from people. To you, the Most Merciful of all the merciful ones I turn for You are the Lord of the
        oppressed, and you are my Lord … “</p>

        <p>Then at this most difficult and tiring time of the holy Prophet’s illustrious life, he experiences the ‘am al-huzn (year of sorrow) in which
          he witnessed the passing of two significant people in his life. One was his protective uncle Abu Talib, who was his guardian and political protector
           and the other was Khadijah, his most beloved wife, his confidante, mother of all his children (except Ibrahim). She was the first to embrace his
           faith, the financier of the nascent Islamic movement, and Mother of the Faithful. It was at this time that the Isra’ and Mi’raj (Night Journey and
           Ascension) took place.The Israa and Miraj refer to, two parts of a miraculous journey that Prophet Muhammad took in one night from Makka to
           Jerusalem and then an ascension to the heavens.</p>

        <p>Israa is an Arabic word referring to Prophet Muhammad’s miraculous night journey from Makka to Jerusalem – specifically, to the site of al-Aqsa
           Mosque in Jerusalem – as referred to in Surah Al-Israa in the Quran.It is believed to have been followed by the Mi’raj, his ascension to heaven.
           According to some of the Hadith scholars this journey is believed to have taken place just over a year before Prophet Muhammad migrated from Makka
           to Madina, on the 27th of Rajab.</p>
  </div>

    <div class=" right_div">
      <button type="button" class="collapsible right_topic_titel "> 6 - First companions and believers</button>
      <div class="history_content right_topic ">
        <p class="marg">
          <img class="image_Size_islam" src="/images/shaba.jpg" alt="">
          <h3>The first converts to Islam at the time of Muhammad were:</h3>
          <ol>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Khadija_bint_Khuwaylid">Khadija bint Khuwaylid</a>   First person to convert and first free female convert</li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Abu_Bakr">Abu Bakr As-Siddeeq</a>First free adult male and nobleman to accept Islam and also the first outside the clan of Hashim among the Quraysh. </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Ali">Ali ibn Abi Talib</a> First free male child in Muhammad's family to convert. </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Zayd_ibn_Haritha_al-Kalbi">Zayd ibn Harithah</a> First freed slave male convert.</li>
          </ol>

          <h3>Other conversions (Very Recommended to read about them)</h3>
          <ul>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Zainab_bint_Muhammad">Zainab</a>,
               <a target="_blank" href="https://en.wikipedia.org/wiki/Ruqayya_bint_Muhammad">Ruqayyah</a> ,
               <a target="_blank" href="https://en.wikipedia.org/wiki/Umm_Kulthum_bint_Muhammad">Umm Kulthum</a> ,
                <a target="_blank" href="https://en.wikipedia.org/wiki/Fatima">Fatimah</a>
                Among the early female converts, after their mother Khadija </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Umar">Umar ibn al-Khaṭṭāb</a>The second Rashidun caliph </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Uthman">Uthman</a> Fourth male convert, after Ali, Abu Bakr, and Zayd</li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Yasir_ibn_Amir">Yasir ibn Amir</a> </li> One of the early converts
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Sumayyah_bint_Khabbat">Sumayyah bint Khabbab</a>Seventh person to convert</li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Sa%27d_ibn_Abi_Waqqas">Sa'd ibn Abi-Waqqas</a> One of the first converts </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Lubaba_bint_al-Harith">Lubaba bint al-Harith</a> - Second woman to convert</li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Bilal_ibn_Rabah">Bilal ibn Ribah</a>  One of the early converts </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Abd_al-Rahman_ibn_Awf">Abd al-Rahman ibn Awf</a> - Among the first converts </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Hamza_ibn_Abd_al-Muttalib">Hamza ibn 'Abd al-Muttalib</a> Converted in 616 A.D. </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Asma_bint_Abi_Bakr">Asma bint Abu Bakr</a>About the eighteenth person to conver </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Mus%27ab_ibn_Umayr">Mus`ab ibn `Umair</a>One of the early converts </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Zubayr_ibn_al-Awwam">Zubayr ibn al-Awwam</a>One of the early converts </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Ja%27far_ibn_Abi_Talib">Jafar ibn Abi Talib</a> One of the early convert </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Sawdah_bint_Zam%27ah">Sawdah bint Zam'ah</a> One of the early converts </li>

          </ul>
         </p>
      </div>
    </div>

    <div >
      <button type="button" class="collapsible topic_titel left">7 - Pillars of Islam</button>
      <div class="history_content topic left">
        <img class="image_Size_islam" src="/images/pillars.png" alt="">
        <p> Central to the Islamic faith is the essential duties and practices known as the Five Pillars of Islam. These are:
          <ol>
            <li>The profession of faith or shahada</li>
            <li>The duty to perform five daily prayers or salat</li>
            <li>The obligation to provide alms or zakat</li>
            <li>Fasting during the month of Ramadan (the ninth month of the Islamic calendar)</li>
            <li>Pilgrimage to Mecca (hajj)</li>
          </ol>
          <p>
            <h3>The profession of faith (shahada)</h3>
                The profession of faith is known as the shahada. It is the prerequisite for membership in the Muslim community, and an affirmation of the faith. Muslims are required to declare this profession in public at least once in their lifetime, but most Muslims recite it daily as part of their prayers. In Arabic, the shahada is as follows: “Ashhadu al-la ilaha illa-llah was ashhadu anna Muhammadar rasulu-llah” translated as “ I bear witness that there is no God but Allah and I bear witness that Muhammad is His Messenger” or more simply, “There is no god but God and Muhammad is His Messenger.”
                The profession of faith is designed not only for public affirmation but also to encourage true conviction and sincerity of mind on the
                part of the worshipper.The phrase is central to the practice of Islam. Muhammad is reported to have said, “These few words are equal to
                one-third of the Koran.”
          </p>

          <p>
            <h3>The duty to perform five daily prayers or salat</h3>
            Prayer is an essential duty of every Muslim and the second Pillar of Islam. It is performed five times a day. These times are dawn, noon, mid-afternoon, sunset, and evening. Before prayer, there is ritual cleansing and purification. Typically this means washing one’s hands, mouth, nose, face, ears, forearms, head, and feet three times with the right hand. If there is no water available and may be substituted. Prayer itself consists of three or four cycles of ritual bowing and prostration along with a recitation of parts of the Koran and other prayers in Arabic. All end with the phrase, “May peace, mercy, and blessings be upon you.”
            Muslims can perform prayer just about anywhere, but the most favored place is the mosque. A crier (muezzin) calls the faithful to prayer (adhan). The holy day each week is Friday. The congregation of worshippers at the mosque is led by the religious leader or imam. Prayers, wherever they take place, must be performed in the direction of Mecca. This direction is indicated by the kiblah, a word meaning “direction of prayer.” It is indicated in a mosque by a wall (referred to as the kiblah wall) that is usually marked by a niche called the mihrab.
          </p>

          <p>
            <h3>The obligation to provide alms or zakat</h3>
                The third Pillar of Islam is a call to charity. There are two categories: compulsory and voluntary.
                Compulsory almsgiving resembles a tax for all Muslims, payable to either the community or state. It is calculated based on one’s
                possessions and income and usually equates to 2.5% of a person’s annually accumulated wealth. This system ensures that the poor will
                be at least partly provided for and encourages a sentiment of sharing among the various social classes. Almsgiving also has a spiritual
                value, as a way of atoning for one’s sins and ensuring salvation in the afterlife. Voluntary almsgiving (sadaqah) should be performed freely
                and spontaneously, with discretion and sincerity.
          </p>


          <p>
            <h3>Fasting during the month of Ramadan</h3>
            Fasting (sawm) is a ritual observance during the month of Ramadan, the ninth month of the Islamic calendar. Muslims are required to
            abstain from eating, drinking, and sexual activities between sunrise and sundown. Nursing and pregnant mothers, the sick, and children
            up to the age of puberty are permitted to break the fast. Ramadan is important because it marks the time in the year when the Koran began
            to be revealed to Muhammad.

          </p>


          <p>
            <h3>Pilgrimage to Mecca (hajj)</h3>
            All Muslims who have the physical and materials means to do so are encouraged to visit Mecca at least once in their lifetimes. The pilgrimage occurs during part of the twelfth month of the Islamic calendar. Modern transportation allows millions of Muslims to make the pilgrimage to Mecca, where the focus is the structure known as the Ka’ba. Pilgrims wear white, symbolizing the equality of all Muslims before God.
            Having arrived at Mecca, each pilgrim typically walks around the Ka’ba seven times. This is followed by a set of other ritual observances such as walking between the hills overlooking the Ka’ba, standing on Mt. Arafat, and traveling to nearby Minah, all sites that commemorate aspects of Islamic history and faith. Pilgrims also frequently visit the Dome of the Rock in Jerusalem and the Mosque of the Prophet in Medina. Both the month of pilgrimage to Mecca and the month of Ramadan ended in festive celebrations.
          </p>
          </p>
      </div>
    </div>

    <div class=" right_div" >
      <button type="button" class="collapsible right_topic_titel ">8 - Prophet Muḥammad migration from Mecca to Medina</button>
      <div class="history_content right_topic  ">
        <img class="image_Size_islam" src="/images/hejra.jpg" alt="">
        <p class="marg">Allâh the Exalted has sent His Prophet Muḥammad, Sallallâhu `alayhi wa sallam, with guidance to renew the call for Islam. During the
          prime trading season the Prophet used to pass among the people in Makkah and tell them: « Say Lâ 'ilâha illa lLâh (There is no God except Allâh)
          and you will win. » He brought them the good news of the great reward for those who believed and warned those who did not believe severe torture
          in the hereafter.</p>
        <p>At the outset of his Call, a few people believed in him but the majority renounced his Call and denied his prophethood. However, the Messenger
          of Allâh , Sallallâhu `alayhi wa sallam, persisted and eventually met in Makkah some people of Yathrib (Madinah) from the tribes of Al-'Aws and
          al-Khazraj; he invited them to embrace Islam so six of them accepted at first. When they left to go to Madinah, he sent with them Ibn Umm Maktum
          and Mus`ab Ibn `Umayr to teach the Qur’an to the ones who believed and to call upon the ones who did not embrace Islam to do so; hence, their number
          increased by the following year.</p>

        <p>The harm and harassment of the blasphemers against the Prophet increased after the death of his uncle Abu Talib, and his wife Khadijah may Allāh
          raise her rank. He was harmed personally along with his oppressed followers. Bilal the son of Rabah al-Habashiyy was tortured under the scorching
          heat of the sun and on the burning sand of the desert; they used to put rocks on his chest during the hot noon time. Sumayyah, the mother of `Ammar
          and her husband Yasir died as martyrs for not submitting to the wishes of the blasphemers of Quraysh and persisting to not revoke their state of belief;
           `Ammar, the son of Yasir was tortured too.</p>

        <p>The Prophet and his Companions who believed in him endured and tolerated the wrongdoings of the blasphemers by remaining steadfast to the
          path of Islam and acting in accordance with what is incumbent upon them of its rules. The blasphemers of the tribe of Quraysh opposed their
          call and harassed them in many ways. One day a person named `Uqbah dared to come to the Prophet, Sallallâhu `alayhi wa sallam,
          held him by his shoulders and strangled him so strongly until Abu Bakr came and stopped him and said:<br>
          <strong>« Do you want to kill a man who says Allâh is my Lord and who has provided proofs from Allâh. »</strong> </p>

        <p>The Prophet, Sallallâhu `alayhi wa sallam, advised his companions to migrate to Al-Habashah (Abyssiniah) where a just king-Christian at the time-
          presides and rules. Ten men and four women migrated at first and their number increased until it reached eighty three men and seventeen women other
          than the children. To protect themselves against harm and to find comfort and justice under the king of Al-Habashah they migrated out of fear of sedition
          and for preserving their religiosity to Allâh . This was the the first Migration in Islam.</p>

        <p>An-Najashiyy, The king of Abyssinia, received and treated them well and they enjoyed peace and safety as guests in his land. The blasphemers of Quraysh
           attempted to sway an-Najashiyy by offering him precious gifts but to no avail; he turned their attempt down when he heard from the companion's blessed
           recitation of Qur'ân regarding Prophet `Isâ and his mother Lady Maryam. He believed in the Muslims and maintained his support of them and became
           a highly pious Muslim. When the number of believers increased in Madinah, Allâh revealed to the Prophet, Sallallâhu `Alayhi wa Sallam, to migrate
           to it. The Muslims then started to migrate one after another in compliance with the order of Allāh and obedience to the order of the Prophet,
           Sallallâhu `alayhi wa sallam.The blasphemers of Quraysh were severely shocked by the speedy way the Religion of Islam was spreading and they
           wanted to find a way to eliminate it.</p>

           <p>The blasphemers of the tribe of Quraysh noticed the continuous migration of the Companions to Madinah. So, they feared that the Prophet would do
             the same and leave Makkah. They held a meeting in Dar an-Nadwahand submitted to the opinion of `Amr Ibn Hisham (Abu Jahl) and collectively conspired
             to kill Prophet Muhammad, Sallallâhu `Alayhi wa Sallam. To avoid revenge from the family of the Prophet, Sallallâhu `Alayhi wa Sallam, they
             decided to spread his blood among the tribes. So they schemed to have one man from every tribe strike the Prophet with their swords all at once, thus
             it would be hard to seek revenge from all the tribes. Angel Jibrîl peace be upon him descended and informed the Prophet about Quraysh’s scheme of
             killing him and ordered him not to sleep in his regular sleeping place. Jibril also conveyed to him Allâh’s permission to migrate. The Prophet ordered
             his cousin `Ali Ibn Abi Talib to sleep in his place and cover himself with the Prophet's green shawl and to return the belongings of the people
             which they had kept with the Prophet for safekeeping; `Aliyy obeyed the order. By that time the blasphemers had already gathered at the Prophet’s
             door.</p>

            <p>Fully relying upon Allāh the Exalted,
               the Messenger of Allâh left his house with his hands full of soil and he sprinkled the soil over the heads
              of the conspirators while reciting verses from Surah Yâ-sîn. <br><br>

            <p class="center">وَجَعَلْنَا مِن بَيْنِ أَيْدِيهِمْ سَدًّا وَمِنْ خَلْفِهِمْ سَدًّا فَأَغْشَيْنَاهُمْ فَهُمْ لاَ يُبْصِرُونَ</p>

              <br><br><strong>This means: « We have made before them a barrier and a barrier behind them, so We have covered them over so that they cannot see. »</strong> <br><br>
              Thus, Allâh blocked His Prophet from their sight. In the morning they went into the Prophet’s house to kill him but instead, they found `Aliyy
              sleeping in his place. They erupted in rage and fury out of humiliation and embarrassment, especially when they found the soil on their heads. Angry, furious, and nervous they left the house seeking the trials of the Prophet.
              Allâh revealed the support of His Prophet in an astounding glorious event when Prophet Muhammad, Sallallâhu `Alayhi wa Sallam, and Abu-Bakr may
              Allâh raise his rank went to the cave of Thawr to get out of sight. Allâh ordered a tree to grow at the mouth of the cave to cover it and two wild
              pigeons were ordered to sit in front of the cave one of which laid eggs. A spider was inspired to weave a web at the mouth of the cave.
              When the men of Quraysh came holding their staffs and swords, they stood by the cave and looked around and they saw the pigeons with their
              eggs and the spider web. They figured that if the Prophet and his companion had entered the cave they would have destroyed the eggs and the
              web, so they turned back and left defeated. What they did not know is that they were forty cubits away from the Prophet and his companion.</p>

            <p>The cave was privileged by hosting the Prophet and his companion for Three days. `Amir Ibn Fuhayrah, Abu Bakr's slave whom he had set free,
              used to graze his flock next to the cave so that they could milk the sheep and drink and `Abdullâh the son of Abu Bakr used to keep them abreast
              of the news and until the people lost hope in finding them and the situation calmed down. On the fourth day `Abdullâh Ibn Al-'Urayqit provided two
              camels for them and they headed toward Madinah. Quraysh assigned a great amount of money as a bounty to whoever captured Prophet Muhammad,
              Sallallâhu `alayhi wa sallam, and his companion. Surraqah Ibn Ju`shum was blinded by greed and money, he followed the trails of the migrating
              Prophet and his companion until he was as close as a spear's measure of distance from them. Abu Bakr was scared for the life of the Prophet,
              but the Prophet comforted him and said calmly: « Allâh is with us » that is He supports and protects. The legs of Surraqah’s horse sank deep
              into the sand until its stomach touched the ground while he was still mounting it. He got terrified and realized at that moment that a miracle
              was taking place to protect a great prophet. He asked the Prophet to make a supplication to Allâh asking Him to have the legs of his horse back
              on the surface of the ground, he promised the Prophet that he would leave and will not reveal to the men of Quraysh their trails. The Prophet
              did so and Surraqah left while in shock and honored his promise; he embraced Islam eight years after that great event.
              The Messenger of Allâh, Sallallâhu `Alayhi wa Sallam, migrated to Madinah with Abu Bakr after staying in Makkah for thirteen years calling
              people to embrace Islam and to believe in one God. The Migration of our beloved and great Prophet Muḥammad, Sallallâhu `Alayhi wa Sallam,
              was neither for money nor for fame but rather in obedience to the orders of Allâh and relying on Him. Neither the great number of
              blasphemers nor the danger of the trip stopped them from migrating because all they wanted was to obey God. Thus, the plan of the blasphemers
              failed. <strong>Allâh said in the Glorious Qur’ân in Surah at-Tawbah, Verse 40:</strong></p>

              <p>
                <p class="center"> ﴿ إلاَّ تَنصُرُوهُ فَقَد نَصَرَهُ اللهُ إِذ أَخرَجَهُ الَّذِينَ كَفَرُوا ثَانِيَ اثنَينِ إِذ هُمَا فِي الغَارِ إِذ يَقُولُ لِصَاحِبِهِ لاَ تَحزَن إِنَّ اللهَ مَعَنَا ﴾</p>
                <strong>This means: « When you did not support him, Allâh indeed supported him (Prophet Muḥammad)when the blasphemers harassed him. He was the second
                of two (the Prophet and Abu Bakr) while they were in the cave he said to his Companion: ‘Do not be sad Allâh is protecting us.’ »</strong> <br><br>
                The Prophet arrived at Madinah to start a new era rich of Islamic Knowledge and good manners.</p>
      </div>
    </div>

    <div >
      <button type="button" class="collapsible topic_titel left  ">9 - The ten to whom Paradise was promised</button>
      <div class="history_content topic left ">
        <img class="image_Size_islam" src="/images/10.jpg" alt="">
        <p  class="marg">Ten companions (Sahaba) of the Prophet Muhammad (ﷺ) have been specially mentioned by him (ﷺ) as being promised Jannat (Paradise). Their names are:
          <ol>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Abu_Bakr"> Abu Bakr As-Siddeeq </a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Umar">Umar ibn al-Khattab</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Uthman">Uthman ibn a-Affan</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Ali">Ali ibn Abu-Talib</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Talha">Talhah ibn-Ubaydullah</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Zubayr_ibn_al-Awwam">Zubayr ibn al-Awwam</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Abd_al-Rahman_ibn_Awf">Abdur-Rahman bin 'Awf</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Sa%27d_ibn_Abi_Waqqas">Sa'd bin Abi Waqqas</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Sa%27id_ibn_Zayd">Sa'eed bin Zaid</a> </li>
            <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Abu_Ubayda_ibn_al-Jarrah">Abu' Ubaidah bin Al-Jarrah</a> </li>
          </ol>
            May Allah be pleased with them all. They are called the Ashara Mubashara, the ten who were given the glad tidings of paradise.</p>
          <p>However, the earliest known version of the list, which may date to c. 724–743, contains the name of the first Umayyad caliph
            <a target="_blank" href="https://en.wikipedia.org/wiki/Mu%27awiya_I">Mu'awiya </a> (c. 600–680). Mu'awiya's place was occupied in
            later versions by Abu Ubayda ibn al-Jarrah, or in some other versions also by Muhammad himself.</p>
      </div>
      </div>
      <div >

      <div class=" right_div">
        <button type="button" class="collapsible right_topic_titel ">10 - Stories of Islamic conquests </button>
        <div class="history_content right_topic ">
          <p  class="marg">
              <h3>Muhammad Islamic conquests </h3>
              <img class="image_Size_islam" src="/images/gazwh.jpg" alt="">
              <p>Muhammad Islamic conquests are too much to cover in one article but here are some links you can read about it:</p>
              <ul>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Uhud">Battle of Uhud</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Badr">Battle of Badr</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Banu_Qurayza">Banu Qurayza</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Mu%27tah">Battle of Mu'tah</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Khaybar">Battle of Khaybar</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Hunayn">Battle of Hunayn</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Expedition_of_Tabuk">Expedition of Tabuk</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_the_Trench">Battle of the Trench</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Conquest_of_Mecca">Conquest of Mecca</a> </li>
                <li> <a target="_blank" href="https://en.wikipedia.org/wiki/Treaty_of_Hudaybiyyah">Treaty of Hudaybiyyah</a> </li>

              </ul>
          <p>To Find More And More about Islamic conquests you can vist this links <a href="https://en.wikipedia.org/wiki/Military_career_of_Muhammad">
            Military career of Muhammad</a> </p>


          </p>
        </div>

    </div>

    <!-- footer -->
    <footer class="footer">

      <p>©2022 Copyright Radwan's Designs Co.</p>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="js/history.js" charset="utf-8"></script>
  </body>
</html>
