<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Common Questions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c0a916d27e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Montserrat:wght@100;400;900&family=Sacramento&family=Source+Serif+Pro:ital,wght@0,600;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  nav_size">
      <div class="container-fluid nav_inner_container">
        <a  class="navbar-brand brand_css d-inline-block align-text-top" href="/">
          <i class="fa-solid fa-kaaba "></i>
          Islamy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a id="index11"  class="nav-link nav_items" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item  ">
              <a id="index12" class="nav-link nav_items" href="/history">Islam religion</a>
            </li>
            <li class="nav-item  ">
              <a id="index13" class="nav-link nav_items" href="/prayer">Prayer</a>
            </li>
            <li class="nav-item  ">
              <a id="index14" class="nav-link nav_items" href="/quran">Quran</a>
            </li>
            <li class="nav-item  ">
              <a id="index15" class="nav-link nav_items" href="/questions">Common questions</a>
            </li>
            <li class="nav-item  ">
              <a id="index16" class="nav-link nav_items" href="/contact">Contact Us</a>
            </li>
          </ul>




             <button onclick="changeLanguage('ar')" class="btn btn-link"  type="button" name="button" value="arabic">العربيه</button>
             <button onclick="changeLanguage('eng')" class="btn btn-link" type="button" name="button" value="english">English</button>





          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>


    <h2 class="question_Section_Titel">General Questions About Islam</h2>
    <button class="questions_collapsible">What is the difference between the words “Islam,” “Islamic,” “Muslim,” and “Arab”?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Islam is the name of a religion, as Christianity and Judaism are names of religions. The Arabic word “Islam” is based on the root “slm,” which means peace or surrender to God. Combining both translations results in the combined meaning “the state of peace through following God’s guidance.”</p>
        <p>Islamic is an adjective that modifies a non-human noun, as for example, “Islamic art,” “Islamic architecture,” “Islamic beliefs,” etc. This term should not be used to refer to a person.</p>
        <p>A follower of Islam is called a Muslim, or “one who is in a state of peace by following God’s guidance.”</p>
        <p>While the term Arab has been used in the past to refer to members of a Semitic ethnic group from the Arabian Peninsula, today the word “Arab” refers to people from Arabic-speaking countries, most of which are in the Middle East and North Africa. The term Arabian was historically used to describe an inhabitant of the Arabian Peninsula. Today “Arabian” is used as an adjective to describe a non-human noun (e.g., Arabian coffee); it should not be used to refer to people.</p>
        <p>The following questions about basic Muslim beliefs (15 through 18) are answered in accord with the scholars mentioned above, reflecting majority Sunni views.</p>
      </div>

    </div>


    <button class="questions_collapsible">What does Islam teach?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Islam’s primary message, as understood by the overwhelming majority of Muslims, is the continuation of the Abrahamic monotheistic tradition’s belief in one God. The three major dimensions of Islam include beliefs, ritual practices, and the effort to improve one’s character and actions. There are six major beliefs in Islam and five central practices that are referred to as the Five Pillars.</p>
        <p>The last dimension of Islam focuses on the cultivation of excellent moral character to better oneself and the world around oneself. It teaches a set of values that promote life, liberty, equality and justice. Some of these values include:</p>
        <ul>
        <li>Respect for the earth and all creatures</li>
        <li>Care and compassion for those less fortunate</li>
        <li>The importance of seeking knowledge</li>
        <li>Honesty and truthfulness in word and deed</li>
        <li>Striving continuously to improve oneself and the world</li>
        </ul>

      </div>
    </div>


    <button class="questions_collapsible">What are the major beliefs of Muslims?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The six major beliefs in Islam, as understood by the majority of Sunni Muslims, are:</p>
      <ul>
      <li>belief in God;</li>
      <li>belief in angels;</li>
      <li>belief in God’s prophets/messengers;</li>
      <li>belief in God’s revelations in the form of holy scriptures given to the messengers;</li>
      <li>belief in an afterlife that follows the Day of Judgment on which people will be held accountable for their actions and compensated accordingly in the afterlife; and</li>
      <li>belief in God’s divine will and His knowledge of what happens in the world.</li>
      </ul>


      </div>
    </div>


    <button class="questions_collapsible">How do Muslims practice their faith?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Muslims practice their faith in many different ways, but the major practices for both Sunni and Shi’a Muslims are known as the Five Pillars, which include:</p>
        <ul>
        <li>the profession of faith, namely that there is only one God and that Muhammad is the Messenger of God;</li>
        <li>the five daily prayers;</li>
        <li>required annual donation to charity in the amount of 2.5% of one’s excess wealth;</li>
        <li>fasting during daylight hours in the month of Ramadan; and</li>
        <li>making a pilgrimage to Mecca once in a lifetime, if one is mentally, physically, and financially able to do so.</li>
        </ul>

      </div>
    </div>

    <button class="questions_collapsible">What are the foundational sources of Islamic beliefs and practices?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The primary sources of knowledge about Islam are the Qur’an, which adherent Muslims believe is the divinely revealed word of God, and the Sunnah, which refers to the example or precedent of the Prophet Muhammad (i.e., what he said, did, approved, disapproved, caused, ordered, or allowed to happen). Much of what is known about the Sunnah is from the collection of sayings or reports known as Hadith, or prophetic tradition. The Hadith describe actions of the Prophet Muhammad or actions that his companions attributed to his teachings. Hadith also elaborate on and provide context to the Qur’an.</p>
        <p>Though both Sunnis and Shi’as revere and respect the descendants of the Prophet Muhammad, many Shi’a’s consider the rulings of the twelve Imams a primary source having a status similar to that of the aforementioned sources. Other sources may exist for different Muslim sects.</p>
        <p>In addition to these primary sources, Muslims have also traditionally relied on the following additional sources: scholarly consensus: that is, the agreement of knowledgeable scholars upon a particular issue; and analogical reasoning: that is, the application of principles or laws derived from the Qur’an and Sunnah to similar situations not explicitly addressed by them. The lived experience of Islam, which naturally varies widely not only in different cultures but also between different individuals, also impacts and determines a Muslim’s understanding and practice of Islam.</p>
      </div>
    </div>


    <button class="questions_collapsible">God’s love for humanity is a central theme in many religions. Are there similar teachings in Islam?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>We believe that God’s love for humanity is indeed central to our faith. The Qur’an mentions God’s compassion and mercy 192 times, as opposed to God’s wrath, which is mentioned only 17 times. Two of God’s main attributes are the “Compassionate” and the “Merciful.” Both of these names denote God’s love and care for all creation. These are the two most often mentioned names of God, since all but one of the 114 chapters in the Qur’an begin with “In the name of God, the Compassionate, the Merciful.” The Qur’an cites 99 different names or attributes of God, many of which also emphasize these characteristics, including “the Loving,” “the Giving,” “the Forgiving,” and “the Kind.”</p>

      </div>
    </div>

    <button class="questions_collapsible">What is halal food</button>
    <div class="questions_content">
      <div class="questions_text">
        <p><em>Halal</em>&nbsp;is an Arabic word meaning lawful or permitted. The opposite of&nbsp;<em>halal</em>&nbsp;is&nbsp;<em>haram</em>, which means unlawful or prohibited. While the term is used in relation to many aspects of life, when specifically used in relationship to food,&nbsp;<em>halal</em>&nbsp;refers to any food product that is not prohibited. In reference to meat products,&nbsp;<em>halal</em>&nbsp;means that the animal was slaughtered according to Islamic guidelines, which include reciting God’s name over the animal before slaughter and draining all the blood from the animal. This practice is similar to the guidelines set by Jewish law that classify meat prepared in this manner as kosher It is common to find&nbsp;<em>halal</em>&nbsp;butcher shops or restaurants in most major cities in the U.S.</p>

      </div>
    </div>

    <h2 class="question_Section_Titel">Free Will</h2>
    <button class="questions_collapsible">What good is “free will” if everything is predestined? If God already knows if we are going to heaven or hell, why doesn’t He just put us there?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>This is a topic of debate in all religions. Muslims believe that humans have free will to commit good or evil, but that God’s knowledge and power encompasses all that happens in this life. That means that we will be held accountable for our actions, since God, while knowing what the outcome will be, allows people to act on their own free will to choose good or evil.</p>
      </div>
    </div>

    <h2 class="question_Section_Titel">Crime And Punishment</h2>
    <button class="questions_collapsible">What happens to a Muslim who does not follow one of the pillars?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>We believe that acts of worship should be done for the sake of God and that God alone will judge each person according to his or her intentions and actions.</p>


      </div>
    </div>


    <button class="questions_collapsible">What is the Islamic view on punishments such as the death penalty, stoning, or cutting off someone’s hands?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Mandatory criminal penalties are basic to any penal code. Like other criminal systems, Islamic jurisprudence does prescribe certain punishments in certain situations, but any criminal judgement must be carried out by a state authority, as Islam does not allow vigilantism. Furthermore, most of these punishments were meant to act as deterrents, and, in practice, the most severe punishments were rarely carried out.</p>
        <p>For instance, the punishment of stoning for adultery requires the testimony of four eyewitnesses—a virtually impossible condition. Capital punishment for manslaughter could be avoided if the victim’s family agreed to monetary compensation for their loss—a normal practice in the society of the time.</p>
        <p>These punishments are very similar to those found in the Hebrew Bible, which, like the Qur’an, spoke to social conditions and attitudes vastly different from those of later times and different places. Jews today, even the most strictly Orthodox, do not practice these punishments, and Christians generally regard them as superseded by the ethic of Jesus.</p>
        <p>Today, most Muslim-majority countries do not practice these punishments, and where they are practiced, such as under the Taliban or ISIS, the required due process that makes many of these punishments nearly impossible to enforce is not followed, which is why many scholars have condemned their use.</p>


      </div>
    </div>

    <h2 class="question_Section_Titel">Day of Judgment</h2>
    <button class="questions_collapsible">How will God determine who goes to heaven and hell?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>We believe that only God knows where a person will end up in the afterlife, since only God knows a person’s intentions, deeds, circumstances, and limitations. We also believe that God will judge human beings according to His complete justice on the Day of Judgment based on both their beliefs and actions, taking into account the opportunities and abilities that He gave them. In the Qur’an, God’s ninety-nine names include “the Judge” and “the Just.”</p>


      </div>
    </div>


    <button class="questions_collapsible">Why can’t Muslims eat pork?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Because the Qur’an forbids the practice, a dietary restriction also followed by observant Jews.</p>

      </div>
    </div>


    <button class="questions_collapsible">Why can’t Muslims drink alcoholic beverages?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Because the Qur’an forbids the practice. The Qur’an states that while alcohol has some benefits, its harm outweighs its benefits. This prohibition is also based upon the religious imperative that one should not introduce anything in one’s life that is harmful to one’s health or which can impair one’s judgement, to prevent harm to oneself as well as to others. This prohibition is similar to Buddhist teachings which discourage intoxicants.</p>


      </div>
    </div>


    <h2 class="question_Section_Titel">Marriage/Dating</h2>

    <button class="questions_collapsible">Can Muslims have boyfriends/girlfriends or date?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Our understanding from the Qur’an and Hadith (prophetic sayings) is that people should avoid situations, relationships, or actions that might lead to a violation of the principle that couples should abstain from physical or sexual intimacy until after marriage.</p>



      </div>
    </div>


    <button class="questions_collapsible">Are Muslims allowed to marry people of other faiths?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Traditionally, Muslim men are allowed to marry women who are from the “People of the Book,” generally defined as Christians and Jews. In this case, a Muslim husband must guarantee the right of his Christian or Jewish wife to worship God according to her religious beliefs.</p>
        <p>The reverse, i.e., a Muslim woman marrying a man outside her religion, has traditionally not been allowed on the grounds that her husband might not guarantee her the right to practice her religion, since he may not to have the same obligation to respect her religion that a Muslim has towards his Christian or Jewish wife. Therefore, for the protection of her freedom of religion, a Muslim woman has traditionally been required to marry a man who will give her the right to practice her faith—that is, a Muslim.</p>
        <p>Today, especially in areas where Muslims live as minorities, there is growing diversity in both theory and practice on this issue.</p>



      </div>
    </div>

    <button class="questions_collapsible">How do Muslims get married?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Marriage ceremonies among Muslims, like marriage ceremonies everywhere, vary widely in different locales and cultures. However, the actual Islamic marriage ceremony generally includes the bride and groom, the bride’s father or guardian, an officiator, and two witnesses. The religious ceremony includes the marriage proposal and acceptance and the presenting of a gift called&nbsp;<em>mahr</em>&nbsp;by the groom to the bride. Wedding celebrations after the religious ceremony vary widely from culture to culture, but generally involve food, special clothing, and some type of celebration. In some societies, there may be several days of celebration before or after the wedding.</p>



      </div>
    </div>

    <button class="questions_collapsible">Are arranged marriages condoned in Islam?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>This depends on what one means by “arranged marriage” and on the culture one is describing.</p>
        <p>If by “arranged marriage” one means simply that a couple first meets through referrals by family or friends (“matchmaking”) and then is free to choose to marry or not, this is still a common practice among Muslims, although increasingly young Muslims, like young people of any other religion, are meeting in school, at work, or online.</p>
        <p>If, however, “arranged marriage” refers to a situation in which a person (this impacts both men and women, but is generally associated only with women) is forced into a marriage against his or her will, then many contemporary Muslims cite prophetic sayings that uphold a woman’s right to accept or reject a marriage proposal.</p>



      </div>
    </div>

    <button class="questions_collapsible">Is it true that Muslim men can marry more than one woman?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Monogamy is the ideal in marriage, as reflected in God’s creation of life in pairs of male and female, according to the account given in various Qur’anic verses. The vast majority of Muslims today are monogamous. While it is permitted for Muslim men to marry more than one wife, it is with the condition that he treat his wives equally, a standard that even the Qur’an warns is difficult to achieve, clearly implying a preference for monogamy.</p>
        <p>The Qur’an modified but allowed the continuation of the existing practice of polygamy 1400 years ago in the context of war, when caring for orphans was a major concern. Polygamy was not peculiar to the Arabian Peninsula; it was widespread in many cultures, including that of ancient Israel as portrayed in the Hebrew Bible, where many of the Patriarchs are described as having multiple wives and Israelite kings had harems numbering in the hundreds. Today polygamy is mainly practiced in the Gulf States and Africa where it is more culturally acceptable than in other Muslim societies.</p>

      </div>
    </div>

    <button class="questions_collapsible">Can women marry more than one man?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Women are not permitted to marry more than one man (polyandry). Since polygamy was permitted in the context of war, when caring for orphans was a major concern, this purpose would not be served by polyandry.</p>


      </div>
    </div>


    <h2 class="question_Section_Titel">Divorce</h2>
    <button class="questions_collapsible">What is the Islamic view of divorce?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>While divorce is allowed and the Qur’an describes the different steps to be taken in a divorce, there is a Hadith (prophetic saying) describing divorce as “the most hated lawful thing,” because it breaks up the family. The Qur’an also urges couples considering divorce to first make use of counseling and mediation. However, if these attempts fail, divorce as a last option is allowed and may, in some situations, be the best outcome.</p>


      </div>
    </div>


    <button class="questions_collapsible">Can women initiate a divorce?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>While the Qur’an describes situations where women can initiate divorce, the ease with which she can do so is often informed by interpretations or practices of Islam that vary widely from country to country. In some Muslim-majority countries, a woman can get a divorce relatively easily while in other countries it is much more difficult.</p>


      </div>
    </div>

    <h2 class="question_Section_Titel">Economics</h2>
    <button class="questions_collapsible">How does Islamic economics work without interest? How does Islamic banking work?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Muslim economists view money as something to be earned, which is one of the many reasons that both gambling and most forms of loaning with interest are prohibited. While there are different types of interest and not all types are viewed as being the same, many Muslim scholars regard interest as generally prohibited because it penalizes the poor for their lack of money and rewards the rich for their abundance of money, making the rich richer and the poor poorer. On the other hand, investment in business is highly encouraged because it involves some risk to the investor, which makes profit from investment a fair return. Investment also promotes the circulation of wealth and the growth of new businesses.</p>
        <p>Applying this principle in the modern world is a major challenge, yet today there are over five hundred financial institutions offering Islamic finance in over eighty different countries. These institutions generate income through shareholding, leasing, lease purchasing, and rent sharing. Interest-free banking is an experiment in Islamic modernization. The fact that Islamic banks are now worth a trillion dollars attests to their modern viability. In fact, many western economists maintain that interest-free economies can be extremely beneficial. An example of this is the growing popularity of interest-free financing in auto sales in the U.S. today as a means of attracting less affluent customers. Additionally, many economists have noted that during the financial crisis a few years ago Islamic investments and banks were largely unaffected, since they did not deal with interest-based financing such as mortgages or risky speculation.</p>


      </div>
    </div>

    <h2 class="question_Section_Titel">Hijab</h2>
    <button class="questions_collapsible">How do Muslims define modesty?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The Oxford Dictionary defines modesty as “behavior, manner, or appearance intended to avoid impropriety or indecency.” What constitutes modesty is understood differently by Muslims in different cultures, as well as by individual Muslims, and can include the type of dress as well as the level of interaction with the opposite gender. For some Muslims, modesty also includes humility towards God and other people. Modesty is described by the Prophet Muhammad as an important virtue.</p>

      </div>
    </div>


    <button class="questions_collapsible"> What is hijab?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The Arabic word&nbsp;<em>hijab</em>&nbsp;was originally used in the Qur’an to refer to a curtain or barrier that separated the family of the Prophet Muhammad from visitors. Today the term&nbsp;<em>hijab</em>&nbsp;is commonly used to refer either to the modest attire worn by Muslim women which includes a head scarf or specifically to the head scarf.</p>


      </div>
    </div>

    <button class="questions_collapsible">Do Muslim women have to wear hijab (cover their hair)?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The Qur’an instructs both men and women to be modest, but how this is practiced varies greatly. Many Muslim women follow the normative ruling that the dress code for women in public includes covering everything except their face and hands. Other Muslim women emphasize the principle of modesty, which takes on different forms as previously described.</p>
        <p>According to a 2013 Pew poll, majorities of Muslims in diverse countries believe that women should be free to choose whether or not to wear&nbsp;<em>hijab</em>.</p>


      </div>
    </div>


    <button class="questions_collapsible">Why do some Muslim women cover their faces?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Women who cover their faces understand modesty to include covering not only their entire body and head but also their faces. Therefore, when in public, they wear a burqa (a loose garment which covers the body and face) or niqab (a covering for the face that leaves the eyes exposed).</p>


      </div>
    </div>

    <button class="questions_collapsible">Why don’t men wear hijab? Why are standards of modest dress different for men and women?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Both sexes are required to dress modestly. For men, modest dress has traditionally required that, as a minimum, the area between the navel and the knees must be covered. For women, modest dress has traditionally included covering everything except the face and hands. In practice, while many Muslim women choose to wear&nbsp;<em>hijab</em>, many others do not, as it remains an individual choice that should not be coerced by anyone.</p>
        <p>Nevertheless, it remains the normative understanding of Muslim scholarship that men and women should wear loose fitting, non-transparent clothing that covers most of the body. The traditional clothing worn by Muslim men in such places as South Asia, where they wear a loose shirt and pants (<em>shalvar-khamees</em>), or in some Arab countries, where men wear what looks like a long dress (<em>jalaba</em>) and a headscarf (<em>kuffiyah</em>), differs little in the extent of covering from the traditional dress of Muslim women. While it is not as common to see this type of male dress in America, many Muslim men grow a beard and wear a head covering that resembles a skull cap, as do adherents of some other religious traditions.</p>



      </div>
    </div>

    <h2 class="question_Section_Titel">Islam And Modernity</h2>
    <button class="questions_collapsible">Is Islam opposed to modernity?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The question of modernity and faith, including Islam, depends on what is meant by the term modernity. If by modernity one means the use of science, reasoning, and invention to improve our lives, all of these are in line with the Islamic philosophy that led to the flowering of scientific exploration and technological innovation at the height of Islamic civilization in the Middle Ages, commonly known as the Golden Age of Islam. The mere fact that Muslims are living and practicing Islam 1400 years after its founding in the modern, post-Enlightenment world in Western societies demonstrates that Islam is naturally compatible with the modern world. In fact, millions of Muslims are involved, often in leading positions, in the fields of science, mathematics, medicine, engineering and other scientific fields.</p>
        <p>However, if my modernity one means acceptance of the various values that underpin our modern lifestyles and worldview, the answer is more nuanced and complicated. Islam, like other religions, would not be compatible with a modernity which is opposed to the centrality of God, morality, and religion or which is based upon a worldview which regards material realities as the ultimate truth and goal. Modernity void of morality has brought us the two deadliest wars in history, the Holocaust, and the atomic bomb. Uncontrolled capitalism and globalization have not only stripped the earth of irreplaceable resources and species but have also created huge economic disparities between the masses and the ultra-rich both among and within nations. For these and other reasons, many Muslims, like members of other religious and other groups, are increasingly concerned about the devastating effects that modernity and its accompanying technological advances, when influenced only by factors relating to economic profit and short-term gain, have had upon our environment and the world, which is now facing a threat to our very existence due to climate change.</p>



      </div>
    </div>

    <button class="questions_collapsible">What does Islam say about democracy?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>The concept of democracy is not universally agreed upon by all political scientists. Many take it to include some form of elected political representation, the rule of law, and protection of human rights of all citizens. These concepts, and especially the latter two, are central to Islamic teachings. As for the method by which political leaders are chosen, Islam advocates a system of mutual consultation that can include popular elections as a means to choose both local and national leaders. Indeed, many Muslim-majority countries exercise this form of democracy, including Malaysia, Indonesia, Pakistan, Turkey, and Bangladesh, amongst others.</p>
        <p>In fact, Pew polls in 2011 and 2013 have shown that a substantial majority of Muslims worldwide favor democracy. As we witnessed during the 2011 Arab Spring and beyond, people throughout the Arab world in countries like Tunisia, Egypt, Yemen, Bahrain, Libya, and Syria have risked their lives, and in some places are still risking them, in their struggle for freedom and democratic change in their countries.</p>



      </div>
    </div>

    <button class="questions_collapsible">Does Islam support individual rights?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Islam guarantees the basic individual rights of freedom of thought, expression, right to own property, and general freedom to conduct oneself according to one’s individual will. However, as in any other society or civilization, individual rights are not absolute but are understood in reference to other individuals’ rights and the public interest in general. In a Muslim society founded upon Islamic principles, the relationship between individual and community rights is based upon an understanding of the greater objective of producing and maintaining flourishing societies on all levels, not just the material, but also the spiritual and emotional. This includes the preservation of the sacred, whether in the form of religious spaces, individual religious practice, or religious tenets. Islamic teachings aim to root individuals in communities that foster their ability to rise to their full human potential.</p>
        <p>While in practice most Muslim societies have not often reached this ideal, the attempt to do so is considered one of the core teachings and obligations of Islam, despite humanity’s innate shortcomings. A 2013 Pew poll showed a substantial majority of Muslims worldwide in favor of democracy and freedom of religion. While the poll did not ask questions specifically about freedom of expression, it is likely, in view of their answers to the aforementioned questions, that a substantial majority would favor these rights as well.</p>


      </div>
    </div>

    <h2 class="question_Section_Titel">Jesus and Mary</h2>
    <button class="questions_collapsible">What do Muslims believe about Jesus?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Muslims overwhelmingly revere Jesus and believe that he was born to the Virgin Mary through an act of God, without a father, just as Adam is believed to have been created by God without a father or mother. The Qur’an describes his conception and birth and his many miracles such as healings of the sick. The Qur’an also emphasizes that Jesus was a great prophet of God and a messenger who received revelation from God, but that he was, like all other prophets, only a human being. For Muslims, God, in his divine transcendence, is incomparable to His creation in every aspect, and therefore He does not procreate, even metaphorically. Muslims also believe that Jesus was not crucified but instead was taken to heaven and will return to earth to live out the rest of his life, a belief commonly known as the second coming of Jesus.</p>



      </div>
    </div>

    <button class="questions_collapsible">Why does the Qur’an talk about Jesus more often than Muhammad?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Most of the Qur’an depicts itself as a text addressed to Muhammad; it therefore talks less about Muhammad than it does to Muhammad about other subjects, including previous prophets such as Jesus.</p>



      </div>
    </div>

    <button class="questions_collapsible">What do Muslims believe about Mary?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>Muslims generally believe that she is the Virgin Mother of the Prophet Jesus who conceived him miraculously without a father. A chapter in the Qur’an named after her (Maryam in Arabic) emphasizes her piety and righteousness and her status as an exemplar for all people. The Qur’an also describes her as the greatest of all women: “God chose and preferred her above all the women of the worlds.” (Qur’an, 3:42)</p>



      </div>
    </div>

    <button class="questions_collapsible">Why is it that Muslims do not celebrate the birth of Jesus at Christmas?</button>
    <div class="questions_content">
      <div class="questions_text">
        <p>While Muslims greatly revere Jesus, Christmas is generally considered a Christian holiday and not a part of Muslim cultures except where there are Christian minorities. There is even debate among Muslims over the celebration of Muhammad’s birthday. However, some Muslims celebrate Christmas as part of an American cultural observance similar to Thanksgiving or Independence Day.</p>



      </div>
    </div>


      <h2 class="question_Section_Titel">Ka’bah</h2>
      <button class="questions_collapsible">What is the Ka’bah?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The Ka‘bah is the cube-shaped building covered with a black cloth in Mecca that is believed by Muslims to have been the first house of worship to God. Muslims throughout the world face towards the Ka’bah when they perform each of their daily prayers.</p>



        </div>
      </div>

      <button class="questions_collapsible">Who built the Ka’bah?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Muslims believe that Adam built the original Ka‘bah and that the prophets Abraham and his son Ishmael rebuilt and consecrated it as the first house of worship to God.</p>



        </div>
      </div>

      <h2 class="question_Section_Titel">Muhammad</h2>
      <button class="questions_collapsible">Why do Muslims believe that the Prophet Muhammad is the final prophet?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Muslims believe that the Prophet Muhammad is the final prophet on the basis of statements in Islamic scripture, including the following Qur’anic verse: “Muhammad is not the father of any of your men, but (he is) the Messenger of God, and the Seal of the Prophets and God has full knowledge of all things.” (Qur’an, 33:40) There are also various Hadith (prophetic sayings) which designate Muhammad as “the Seal of the Prophets.” Muslims believe that the Prophet Muhammad was preceded by a long succession of prophets before him that include Adam, Noah, Abraham, David, and Jesus. Muslims believe that all the prophets were sent by God and that some of them foretold the coming of the Prophet Muhammad.</p>


        </div>
      </div>

      <button class="questions_collapsible">Why can’t you display images of the Prophet Muhammad?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The general consensus among scholars is that physical representations of the Prophet Muhammad are discouraged on the grounds that, since the prophets are exemplars, they should not be presented in a manner that either is disrespectful or might lead to idolatry. However, one can find representations of Muhammad and other prophets in different periods of Islamic history, mainly in the form of manuscript illustrations known as Persian miniatures, in which Muhammad’s face is often obscured by light.</p>


        </div>
      </div>

      <button class="questions_collapsible">Why did some Muslims respond with protest and violence against portrayals of Muhammad in cartoons and film?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>This question refers to protests, sometimes erupting into lethal violence, as in the 2015 Paris attacks in response to cartoons published in a French satirical weekly and in the 2012 Benghazi attack against two American government facilities in Benghazi, Libya, purportedly in response to the film&nbsp;<em>The Innocence of Muslims&nbsp;</em>which was derogatory to the Prophet Muhammad.</p>
          <p>Muslim leaders and organizations worldwide, even in countries that restrict the publication of such offensive material, vigorously condemned these instances of violence. The great majority of Muslim Americans and many Muslims elsewhere affirm the right to freedom of expression.</p>
          <p>In addition, it is important to stress that these violent reactions have generally been fueled by political issues that compounded anger at the offensive images. Investigations into the Benghazi attack found that it was in fact long planned by militants, while the Paris attacks were the work of militants who may have been trying to recruit French Muslims to al-Qaeda by creating an incident that would isolate them from other French people. In both cases, the offensive representations served as a pretext.</p>
          <p>At the same time, many Muslims find the lack of respect in many secular societies for sacred symbols, regardless of the religion involved, to be offensive. The Prophet Muhammad respected other religions and their sacred symbols, and the Qur’an prohibits reviling the followers of other religions and that which they hold sacred.</p>



        </div>
      </div>

      <button class="questions_collapsible">Jesus was a non-violent reformer while Muhammad fought in wars. Why is there a difference between Jesus and Muhammad in terms of their approach?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Muhammad’s outlook and actions were initially similar to those of Jesus if one compares Muhammad’s strategy during the first part of his mission in Mecca when he, like Jesus, sought change as a non-violent reformer. However, their tactics diverged due to a change in circumstances once Muhammad and his followers were expelled from Mecca and migrated to Medina. While Jesus and his community of believers remained politically powerless throughout his mission, Muhammad in Medina, as the head of a new political community, was required to serve as a political and even military leader as he finally fought back against the Meccans after years of persecution. As the head of the new community in Medina, he also had to deal with internal conspiracies and rebellions in addition to external threats.</p>
          <p>This question, as posed, also assumes that there is only one way of looking at these figures, which is misleading. For instance, while Jesus is commonly viewed today as a “non-violent reformer,” this has not always been the case. In his book&nbsp;<em>Jesus through the Centuries</em>, church historian Jaroslav Pelikan depicts and analyzes the varied views of Jesus at different times and in different cultures and devotes a whole chapter to Jesus as both “Prince of Peace” and instigator of divine warfare—sometimes at one and the same time. The representations of Muhammad are likewise varied. In her book&nbsp;<em>The Lives of Muhammad</em>, Kecia Ali writes, “Far from being uniform or non-changing, both non-Muslim and Muslim views of Muhammad have been diverse, multifaceted, and subject to dramatic changes over the centuries.” However, Muslims uniformly love and respect both men not only as prophets and messengers, descended from noble families, but also as exemplars of the most perfect character. Prophet Jesus is described in the Qur’an as one who is “held in honor in this world and the Hereafter and of those nearest to God.” Prophet Muhammad was known even before his prophethood as “al-Ameen,” “the Trustworthy,” and his praiseworthy characteristics and actions are the topic of books (known as&nbsp;<em>Shamail</em>), poems, and songs through the centuries.</p>


        </div>
      </div>

      <button class="questions_collapsible">Why did the Prophet Muhammad marry so many women?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Polygamy was common in seventh-century Arabia, as it has been in many other cultures, especially for a political leader; for instance, the patriarchs in the Hebrew Bible are described as having multiple wives, and the kings of Israel are depicted as having harems numbering in some cases into the hundreds. According to Muslim historians, the Prophet Muhammad’s marriages were contracted to assist needy widows and divorcees and to solidify the nascent community of Muslims by forging alliances among the tribes in and around Medina. In light of the time and place, there was nothing unique or unusual about Muhammad marrying several women. It is also noteworthy that he married a woman fifteen years his senior during his young adulthood and remained in a monogamous relationship with her for twenty-five years until her death when he was nearly fifty years old.</p>



        </div>
      </div>

      <button class="questions_collapsible">Why did the Prophet Muhammad marry a nine-year old? If she was not nine, how old was she?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The actual age of Aisha at the time of her marriage to Muhammad is disputed, but the marriage could not have been consummated until she reached puberty. In many cultures, women are or were married years before a marriage is consummated. The custom of early betrothal and marriage continued until the late 19th and early 20th century in much of the world, including Europe and North America, where there are still&nbsp;<a href="http://www.tahirih.org/news/americas-shameful-child-marriage-laws/" target="_blank" rel="noopener">many states</a>&nbsp;that allow for underage marriage.</p>



        </div>
      </div>


      <h2 class="question_Section_Titel">Other Religions</h2>
      <button class="questions_collapsible">How does Islam view other religions?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>We believe that respect for freedom of religion and conscience is a basic Islamic principle, and we believe that diversity, including religious diversity, is part of God’s divine plan. Moreover, we believe that the salvation of all people, Muslims included, lies with God alone.</p>



        </div>
      </div>

      <button class="questions_collapsible">Who are “People of the Book” and what does the Qur’an say about them?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The Qur’an refers to the followers of the previous Abrahamic holy books as “Ahl al-Kitab,” translated as “People of the Book” and generally interpreted to mean Jews and Christians. The term reflects their shared belief in revealed scriptures sent to the four previous prophets who appear in the Hebrew Bible and New Testament: Abraham, Moses, David, and Jesus. As it does with Muslims, the Qur’an describes some of the People of the Book as pious and righteous adherents of their religions, while criticizing others for failing to follow the commandments that were sent to them. The Qur’an also takes issue with some of the beliefs of Judaism and Christianity, such as the Christian belief in the Trinity.</p>



        </div>
      </div>

      <button class="questions_collapsible">Whom do Muslims consider to be “infidels” and how should they treat them?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>According to the Oxford English Dictionary, the English word “infidel” means “a person who does not believe in religion or who adheres to a religion other than one’s own.”</p>
        <p>The Arabic word&nbsp;<em>kafir</em>&nbsp;(plural&nbsp;<em>kuffar</em>) is sometimes translated as “infidel”. A more common translation of the word is “disbeliever” or “unbeliever”. In the Qur’an,&nbsp;<em>kafir</em>&nbsp;usually refers to a person who not only rejects the beliefs of Islam but also takes a hostile stance toward Muslims and their religion; it is used primarily to refer to the Meccans who did not accept the adoption of a new religion by their kinsmen and persecuted and fought against the growing Muslim community. In modern Arabic,&nbsp;<em>kafir</em>&nbsp;is often used to mean simply “non-Muslim,” without any negative connotation.</p>
        <p>We strongly believe that people of other faiths should be treated with love and respect, affirming the Islamic principle respect for freedom of religion and conscience. According to global Pew polls, strong majorities of Muslims in nearly every country surveyed support the right of non-Muslims to practice their religion freely, a right that was historically upheld by most Muslim societies.</p>



        </div>
      </div>

      <button class="questions_collapsible">Why are there references in the Qur’an that are highly critical of Christians and Jews? Is that not equivalent to anti-Semitism?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The Qur’an contains passages critical of those who fought against the early Muslims, including some pagans, Christians, Jews, and even hypocrites within the Muslim community. These passages speak to the specific historical circumstances in which they were revealed. They are not condemnations of Jews and Christians in general, but of the behaviors of specific people—including, as noted, some Muslims.</p>
        <p>We hold that respect for freedom of religion and conscience is basic to our vision of Islam.</p>



        </div>
      </div>

      <button class="questions_collapsible">Does the Qur’an teach the hatred or subjugation of non-Muslims?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>We understand the Qur’an to explicitly forbid hatred towards, subjugation of, or forcible imposition of religion on any person or people when it states “there is no compulsion in religion” (Qur’an, 2:256) and describes religious pluralism as part of God’s plan. The existence of old churches, temples, and synagogues throughout the Muslim world in places like Egypt, Turkey, Palestine, Jordan, Syria, India, and Bosnia and the presence of minority religious populations in those areas demonstrates that this command was historically followed by most Muslim societies.</p>



        </div>
      </div>

      <button class="questions_collapsible">Do Muslims believe in the Bible and Torah?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>While the majority of Muslims believe in the four previous holy books or scriptures mentioned in the Qur’an as original revelations to the prophets (the Scrolls as revealed to Abraham; the Torah as revealed to Moses; the Psalms as revealed to David; the Gospel as revealed to Jesus), they do not believe that they have been preserved in the original form or language in which they were first revealed. However, Muslims believe that the Qur’an affirms many of the same teachings of these previous scriptures.</p>


        </div>
      </div>

      <h2 class="question_Section_Titel">Prayer</h2>
      <button class="questions_collapsible">What are the different kinds of prayer that Muslims practice?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Prayer among Muslims can take many forms. Three very common forms are&nbsp;<em>Salat</em>&nbsp;(canonical prayer),&nbsp;<em>Dhikr&nbsp;</em>(remembrance of God, which usually involves the repetition of God’s names or a litany), and&nbsp;<em>Du’a</em>&nbsp;(supplication, or asking God for a need or desire or for forgiveness).</p>



        </div>
      </div>

      <button class="questions_collapsible">How long does each prayer (Salat) take?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Each canonical prayer (<em>Salat)</em>&nbsp;lasts five to ten minutes, depending on the prescribed number of cycles of each of the five required daily prayers, and the number and length of Qur’anic verses recited. Other factors may also influence the length of time a Muslim prays, including the number of additional (non-obligatory) prayers one chooses to perform, and the pace at which one recites the Qur’an.</p>



        </div>
      </div>

      <button class="questions_collapsible">In large groups women pray behind men. Why is that?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Men and women in congregational canonical prayers line up in separate rows as a general matter of practice. Although the women’s rows are generally behind the men’s rows, this is not always the case. In the mosque built around the Ka’bah, men and women pray in rows in circular formation around the shrine that may be side by side or may even place women in front of men. In some mosques, women pray in balconies above the prayer hall for men, and in some American mosques women pray in a space alongside that of men.</p>
          <p>The reason usually adduced for this practice involves notions of modesty. The Muslim ritual prayer is very physical in nature, involving standing, bowing, and prostrating oneself. During congregational prayers, Muslims are supposed to stand side by side and shoulder to shoulder with those next to them. Many Muslim cultures consider it distracting or immodest to have men and women praying side by side or to have women prostrate themselves in front of men. Additionally, unlike the arrangement in a church where congregants face a sanctuary space with an altar or pulpit at the front, “the sacred space” in the mosque is the area immediately before each congregant. In this scheme, therefore, all congregants regardless of gender and physical positioning within the mosque maintain equal access to sacred space.</p>



        </div>
      </div>

      <h2 class="question_Section_Titel">Qur’an</h2>
      <button class="questions_collapsible">Is the Qur’an read only in Arabic?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Since only 15% of all Muslims are Arabs, the Qur’an has been translated into and is read in many other languages, with multiple English translations. However, because Muslims consider the original Arabic text to be the literal word of God, during ritual prayers, the Qur’an is recited in its original Arabic language (just as some Catholic churches still perform mass in Latin or synagogues perform part of their prayer in Hebrew). In order to fully comprehend the Qur’an for instruction and spiritual enrichment, non-Arab Muslims also read the translation in their native language.</p>


        </div>
      </div>

      <h2 class="question_Section_Titel">Satan</h2>
      <button class="questions_collapsible">What does Islam say about Satan?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Satan (Shaytan in Arabic) is believed to be a third type of creation, in addition to humans and angels, known as a “jinn.” Humans are said to have been made from clay, angels from light, and jinn from fire. While the Qur’an teaches that some jinn are good and submit to God, it states that others, such as Iblis or Shaytan (Satan), try to tempt people to do evil, similar to the belief about Satan in traditional Christian theology.</p>



        </div>
      </div>

      <h2 class="question_Section_Titel">Science And Nature</h2>


      <button class="questions_collapsible"> How does Islam view science?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>There are numerous verses in the Qur’an that reference scientific phenomena, including discussions of astronomy, geography, biology, and other aspects of nature and the universe. The Qur’an includes, for instance, a detailed description of the different stages that the embryo goes through in the womb, as well as descriptions of the creation of the earth and of the interaction between fresh and salt water.</p>
          <p>These repeated Qur’anic references to nature and injunctions to seek knowledge helped create a fertile environment for science during the “Golden Age of Islam” in the Middle Ages, when Muslims were at the forefront of such fields as mathematics, astronomy, physics, chemistry, botany, zoology, and medicine. Unfortunately, the economic and political decline of the Muslim world in later centuries brought about a decline in scientific and technological endeavor until recent decades.</p>
          <p>Today, many Muslim Americans and Muslims worldwide work in science-based professions such as medicine, dentistry, and various fields of engineering, and many are leaders in their fields. In the United States, two of the most popular professions of Muslims are medicine and engineering.</p>



        </div>
      </div>

      <button class="questions_collapsible">What is the Islamic view on the theory of evolution?</button>
      <div class="questions_content">
        <div class="questions_text">

          <p>The claim of the theory of evolution that human beings and other animals share a common ancestor is incompatible with normative Islam. While the existence of a fossil record is not disputed, the conclusions made by proponents of the theory of evolution cannot be conclusively proven. For Muslims, similarity in the genetic code among creatures is a testament to God’s grace and omnipotence, rather than a means by which to render the uniqueness of human creation meaningless.</p>


        </div>
      </div>

      <button class="questions_collapsible"> What is Islam’s view of the environment and the importance of protecting it?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>There are hundreds of verses throughout the Qur’an that describe the wonders of creation and nature and call upon humankind to reflect on them as signs of God. Humans are described as stewards over this earth (as is the case in Jewish and Christian scripture), entrusted with its oversight. There are also numerous Qur’anic and prophetic injunctions to avoid waste, excess, and harm to other forms of creation. A prophetic saying forbids wasting water, even when washing in a river. Living a balanced, moderate lifestyle is an important Islamic principle advocated by most Muslim scholars which applies to all aspects of life, including care of the earth and all of creation.</p>



        </div>
      </div>


      <h2 class="question_Section_Titel">Terrorism/Warfare</h2>

      <button class="questions_collapsible">How do Muslims view terrorism?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>The vast majority of Muslims unequivocally condemn terrorism. Terrorism, defined as the use of violence and threats to intimidate, coerce, or exact retribution, especially for political purposes, flagrantly violates at least three interrelated Islamic principles: respect for life, right to due process, and individual responsibility. The principle of respect for life prohibits the targeting of innocent civilians even during a state of war.</p>



        </div>
      </div>

      <button class="questions_collapsible">Is there anything in Islam that leads to suicide bombings or terrorism?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>Suicide bombings violate the prohibition against suicide, and terrorism violates the prohibition against murder, one of the gravest sins prohibited by the Qur’an.</p>


        </div>
      </div>

      <button class="questions_collapsible">How do extremists justify their actions using the Qur’an?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>While one cannot speak for their motivations or methodology, Muslim terrorists use the Qur’an the same way that Christian extremists such as the Ku Klux Klan and Aryan Nations or Jewish extremists such as Meir Kahane and Baruch Goldstein in Israel use the Bible: by taking phrases out of context and developing interpretations that serve their agenda.</p>
        <p>They also ignore principles of the interpretation of texts followed by legitimate scholars of religion, above all the principle that a text must be understood with reference to the time, place, and situation in which it was given. The Qur’an, like other seminal religious texts, has a dual nature: one that is specific (particular or transitional) to the occasion, time, and place, and another that is universal and permanent, dealing with principles that apply for all times and places. The specific cannot be made to apply universally, while the universal always informs the specific. Ignoring this principle leads to arbitrary interpretations tailored to fit political agendas.</p>
        <p>Most of the terrorism committed by people claiming Islam as their motivation is justified by a methodology that bypasses the bulk of classical scholarship. Various legal issues that pertained to the majority of the Muslim community were often left to the discretion and judgement of qualified scholars. ISIS and other similar groups, however, discount the role filled by traditional scholars. They promote themselves as “scholars” and then produce rulings far removed from what Muslims traditionally would find normative, acceptable, or humane.</p>


        </div>
      </div>

      <button class="questions_collapsible">In Islam, is it ever justifiable to kill innocent civilians?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>We believe that Islamic teachings clearly prohibit killing innocent civilians. While there are obviously extremist Muslims who disagree with this stance, the position of the Muslim majority is clear, as demonstrated by repeated condemnations by Muslim scholars and leaders across the world.</p>



        </div>
      </div>

      <button class="questions_collapsible">Why don’t Muslims condemn terrorism?</button>
      <div class="questions_content">
        <div class="questions_text">
          <p>This question rests on a misconception, as Muslims have consistently and repeatedly denounced terrorism since September 11, 2001. For a large sampling of such condemnations, see this&nbsp;<a href="http://theamericanmuslim.org/tam.php/features/articles/muslim_voices_against_extremism_and_terrorism_part_i_fatwas/" target="_blank" rel="noopener">list</a>. Another sampling is on our&nbsp;<a href="https://ing.org/resources/for-all-groups/answers-to-frequently-asked-questions/answers-to-frequently-asked-questions-about-islam-and-muslims/global-condemnations-of-isis-isil/" target="_blank" rel="noopener">website.</a></p>
          <p>Unfortunately, these statements are rarely noted in the mass media in the US, leading many people to think erroneously that Muslims have not denounced terrorism.</p>
          <p>This question, however, could also be answered with another question: why should Muslims be expected to repeatedly condemn terrorism? Are Christians or Jews expected to denounce violence or every irresponsible or destructive statement or action made in the name of their religions? The question seems to assume that Muslims support or condone every act committed in the name of Islam unless they specifically state otherwise. This assumption is clearly unjust and unreasonable.</p>



        </div>
      </div>


    <div class="center">
      <p class="marg">Have More Questions ?? Fell Free To contact us </p>
      <a href="/contact"><button class="btn btn-lg btn-primary " type="button" name="button">Contact Us</button></a>
    </div>




    <!-- footer -->
    <footer class="footer">

      <p>©2022 Copyright Radwan's Designs Co.</p>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="js/questions.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>

  </body>
</html>
