
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Source Serif Pro', serif; */

body{
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  width: 100;
  background-size: contain;
  background: rgb(240,240,240);
  background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(156,218,255,1) 100%, rgba(0,212,255,1) 100%);
}

.backgroundImage{
  background-image: url('/images/background.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1%;
}


/* NavBar */
  .nav_size{
    margin: 3% auto 0 auto;
    width: 95%;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
  }

  .nav_inner_container{
    /* background-color: #4d90fe; */
    border-radius: 10px;
  }

  .brand_css{
    font-size: 2rem;
    font-weight: bold;
  }

  .nav_items{
    color: #000;
  }

  .nav_items:hover {
    color: blue;
  }

/* Header */
  .circle{
    width: 130px;
    height: 130px;
    background: #F6F6F6;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 4%;
    background-image: url('/images/welcome.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header_text_area{
    background: #F6F6F6;
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 2%;
  }
  .header_text{
    margin: 10px;
  }

/* Content */
.content_title{

  background: #F6F6F6;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 3%;
}
.content_text1{
  margin: 10px;
}
.fa-mosque{
  font-size: 6rem;
  margin: 10px;
}
.fa-child-reaching{
  font-size: 6rem;
  margin: 10px;
}
.bold{
  font-weight: bold;
}
.btn-posi{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer{
  text-align: center;
  margin: 3% auto 0 auto;
}


/* Prayer Page */

.prayer_content{
width: 90%;
margin:3% auto 0 auto;
}

.vedio{
  text-align: center;
  margin: 10px auto 10px auto;
  width: 70%;
  height:500px;
}

.text{
margin-top: 10px;
}
.city_search_form{
  margin: auto;
  text-align: center;
  margin-top: 2%;
  width:80%;
  margin-bottom: 3%;
}
.inbut_field{
  width: 20%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 2px;
}
.prayer_dates_container{
  width: 90%;
  margin: 10px auto;
  text-align: center;
}


/* Quran Page */
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quran_logo{
  width: 15%;
  height: 200px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center{
  margin: 10px auto;
  text-align: center;
}
.ifrme{
  width: 50%;
  height: 1000px;
  margin: 10px auto;
}

/* history */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.history_content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.h2{
  margin-top: 3% ;
  margin-left: 3%;
}

.topic_titel{
  margin-top: 2% ;
  margin-left: 4%;
  width: 40%;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px 10px 0 0;
}

.topic{
  margin-left: 4%;
  width: 40%;
  border-radius:0 0 10px 10px ;
}

.right_topic_titel{
  margin-top: 2% ;
  margin-right: 4%;
  width: 40%;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px 10px 0 0;
}

.right_topic{
  margin-left: auto;
  margin-right: 4%;
  width: 40%;
  text-align: left;
  border-radius:0 0 10px 10px ;
}


.right_div{
  width: 100%;
  text-align:right;

}

/* Common Questions */
.questions_collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
  margin-top: 1%;
  margin-left: 3%;
  border-radius: 10px 10px 0 0;

}

.questions_active, .questions_collapsible:hover {
  background-color: #555;
}

.questions_collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.questions_active:after {
  content: "\2212";
}

.questions_content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: rgb(240,240,240);
  background: linear-gradient(-90deg, rgba(240,240,240,1) 0%, rgba(156,218,255,1) 100%, rgba(0,212,255,1) 100%);  width: 50%;
  margin-left: 3%;
  border-radius:0 0 10px 10px  ;

}

.questions_text{
  padding-top: 10px;
}

.question_Section_Titel{
  margin-top: 3%;
  margin-left: 3%;
}

.marg{
  margin-top: 1%;
}

/* contac */

.contact_form{
  text-align: left;
}
.conact_marg{
  margin-top: 4%;
}
